version: '3.8'
services:
  reactive-resume:
    container_name: reactive-resume
    image: amruthpillai/reactive-resume:v5.0.5
    restart: unless-stopped
    ports:
      - ${APP_PORT}:3000
    networks:
      - tipi_main_network
    environment:
      - TZ=${TZ}
      - NODE_ENV=production
      - APP_URL=${TIPI_REACTIVE_RESUME_PUBLIC_URL}
      - PRINTER_APP_URL=http://reactive-resume:3000
      - PRINTER_ENDPOINT=${TIPI_REACTIVE_RESUME_CHROME_URL}?token=${TIPI_REACTIVE_RESUME_CHROME_TOKEN}
      - DATABASE_URL=${TIPI_REACTIVE_RESUME_DATABASE_URL}
      - AUTH_SECRET=${TIPI_REACTIVE_RESUME_ACCESS_TOKEN_SECRET}
      - SMTP_FROM=${TIPI_REACTIVE_RESUME_MAIL_FROM}
      - SMTP_HOST=${TIPI_REACTIVE_RESUME_SMTP_HOST}
      - SMTP_PORT=${TIPI_REACTIVE_RESUME_SMTP_PORT}
      - SMTP_USER=${TIPI_REACTIVE_RESUME_SMTP_USER}
      - SMTP_PASS=${TIPI_REACTIVE_RESUME_SMTP_PASS}
      - SMTP_SECURE=${TIPI_REACTIVE_RESUME_SMTP_SECURE}
      - S3_ENDPOINT=http://${TIPI_REACTIVE_RESUME_STORAGE_ENDPOINT}:${TIPI_REACTIVE_RESUME_STORAGE_PORT}
      - S3_REGION=${TIPI_REACTIVE_RESUME_STORAGE_REGION}
      - S3_BUCKET=${TIPI_REACTIVE_RESUME_STORAGE_BUCKET}
      - S3_ACCESS_KEY_ID=${TIPI_REACTIVE_RESUME_STORAGE_ACCESS_KEY}
      - S3_SECRET_ACCESS_KEY=${TIPI_REACTIVE_RESUME_STORAGE_SECRET_KEY}
      - S3_FORCE_PATH_STYLE=true
    volumes:
      - ${APP_DATA_DIR}/data:/app/data
    labels:
      traefik.enable: true
      traefik.http.middlewares.reactive-resume-web-redirect.redirectscheme.scheme: https
      traefik.http.services.reactive-resume.loadbalancer.server.port: 3000
      traefik.http.routers.reactive-resume-insecure.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.reactive-resume-insecure.entrypoints: web
      traefik.http.routers.reactive-resume-insecure.service: reactive-resume
      traefik.http.routers.reactive-resume-insecure.middlewares: reactive-resume-web-redirect
      traefik.http.routers.reactive-resume.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.reactive-resume.entrypoints: websecure
      traefik.http.routers.reactive-resume.service: reactive-resume
      traefik.http.routers.reactive-resume.tls.certresolver: myresolver
      traefik.http.routers.reactive-resume-local-insecure.rule: Host(`reactive-resume.${LOCAL_DOMAIN}`)
      traefik.http.routers.reactive-resume-local-insecure.entrypoints: web
      traefik.http.routers.reactive-resume-local-insecure.service: reactive-resume
      traefik.http.routers.reactive-resume-local-insecure.middlewares: reactive-resume-web-redirect
      traefik.http.routers.reactive-resume-local.rule: Host(`reactive-resume.${LOCAL_DOMAIN}`)
      traefik.http.routers.reactive-resume-local.entrypoints: websecure
      traefik.http.routers.reactive-resume-local.service: reactive-resume
      traefik.http.routers.reactive-resume-local.tls: true
      runtipi.managed: true
