version: "3.8"

services:
  git-webhook-deploy:
    container_name: git-webhook-deploy
    image: node:20-alpine
    command: ["/bin/sh", "/scripts/bootstrap.sh"]
    restart: unless-stopped
    ports:
      - ${APP_PORT}:${TIPI_GIT_WEBHOOK_DEPLOY_SITE_PORT}
      - ${TIPI_GIT_WEBHOOK_DEPLOY_WEBHOOK_PORT}:5000
    networks:
      - tipi_main_network
    environment:
      - TZ=${TZ}
      - NODE_ENV=${TIPI_GIT_WEBHOOK_DEPLOY_NODE_ENV}
      - GIT_TOKEN=${TIPI_GIT_WEBHOOK_DEPLOY_GIT_TOKEN}
      - WEBHOOK_SECRET=${TIPI_GIT_WEBHOOK_DEPLOY_WEBHOOK_SECRET}
      - REPO_URL=${TIPI_GIT_WEBHOOK_DEPLOY_REPO_URL}
      - REPO_BRANCH=${TIPI_GIT_WEBHOOK_DEPLOY_REPO_BRANCH}
      - FRAMEWORK=${TIPI_GIT_WEBHOOK_DEPLOY_FRAMEWORK}
      - PACKAGE_MANAGER=${TIPI_GIT_WEBHOOK_DEPLOY_PACKAGE_MANAGER}
      - INSTALL_CMD=${TIPI_GIT_WEBHOOK_DEPLOY_INSTALL_CMD}
      - BUILD_CMD=${TIPI_GIT_WEBHOOK_DEPLOY_BUILD_CMD}
      - START_CMD=${TIPI_GIT_WEBHOOK_DEPLOY_START_CMD}
      - WEBHOOK_PATH=${TIPI_GIT_WEBHOOK_DEPLOY_WEBHOOK_PATH}
      - DEPLOY_ON_STARTUP=${TIPI_GIT_WEBHOOK_DEPLOY_DEPLOY_ON_STARTUP}
      - SITE_PORT=${TIPI_GIT_WEBHOOK_DEPLOY_SITE_PORT}
      - WEBHOOK_PORT=5000
    volumes:
      - ${APP_DATA_DIR}/site:/home/site
      - ${ROOT_FOLDER_HOST}/apps/${APP_STORE_ID}/${APP_NAME}/scripts:/scripts:ro
    labels:
      traefik.enable: true
      traefik.http.middlewares.git-webhook-deploy-web-redirect.redirectscheme.scheme: https
      traefik.http.services.git-webhook-deploy.loadbalancer.server.port: ${TIPI_GIT_WEBHOOK_DEPLOY_SITE_PORT}
      traefik.http.routers.git-webhook-deploy-insecure.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.git-webhook-deploy-insecure.entrypoints: web
      traefik.http.routers.git-webhook-deploy-insecure.service: git-webhook-deploy
      traefik.http.routers.git-webhook-deploy-insecure.middlewares: git-webhook-deploy-web-redirect
      traefik.http.routers.git-webhook-deploy.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.git-webhook-deploy.entrypoints: websecure
      traefik.http.routers.git-webhook-deploy.service: git-webhook-deploy
      traefik.http.routers.git-webhook-deploy.tls.certresolver: myresolver
      traefik.http.routers.git-webhook-deploy-local-insecure.rule: Host(`git-webhook-deploy.${LOCAL_DOMAIN}`)
      traefik.http.routers.git-webhook-deploy-local-insecure.entrypoints: web
      traefik.http.routers.git-webhook-deploy-local-insecure.service: git-webhook-deploy
      traefik.http.routers.git-webhook-deploy-local-insecure.middlewares: git-webhook-deploy-web-redirect
      traefik.http.routers.git-webhook-deploy-local.rule: Host(`git-webhook-deploy.${LOCAL_DOMAIN}`)
      traefik.http.routers.git-webhook-deploy-local.entrypoints: websecure
      traefik.http.routers.git-webhook-deploy-local.service: git-webhook-deploy
      traefik.http.routers.git-webhook-deploy-local.tls: true
      runtipi.managed: true
