version: "3.8"

services:
  yuce-site:
    container_name: yuce-site
    image: node:20-alpine
    command: ["/bin/sh", "/scripts/bootstrap.sh"]
    restart: unless-stopped
    ports:
      - 5000:5000
      - ${APP_PORT}:3000
    networks:
      - tipi_main_network
    environment:
      - TZ=${TZ}
      - NODE_ENV=${TIPI_YUCE_SITE_NODE_ENV}
      - GITHUB_TOKEN=${TIPI_YUCE_SITE_GITHUB_TOKEN}
      - WEBHOOK_SECRET=${TIPI_YUCE_SITE_WEBHOOK_SECRET}
      - REPO_URL=${TIPI_YUCE_SITE_REPO_URL}
      - REPO_BRANCH=${TIPI_YUCE_SITE_REPO_BRANCH}
      - APP_START_CMD=${TIPI_YUCE_SITE_START_CMD}
    volumes:
      - ${APP_DATA_DIR}/site:/home/site
      - ./scripts:/scripts:ro
    labels:
      traefik.enable: true
      traefik.http.middlewares.yuce-site-web-redirect.redirectscheme.scheme: https
      traefik.http.services.yuce-site.loadbalancer.server.port: 3000
      traefik.http.routers.yuce-site-insecure.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.yuce-site-insecure.entrypoints: web
      traefik.http.routers.yuce-site-insecure.service: yuce-site
      traefik.http.routers.yuce-site-insecure.middlewares: yuce-site-web-redirect
      traefik.http.routers.yuce-site.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.yuce-site.entrypoints: websecure
      traefik.http.routers.yuce-site.service: yuce-site
      traefik.http.routers.yuce-site.tls.certresolver: myresolver
      traefik.http.routers.yuce-site-local-insecure.rule: Host(`yuce-site.${LOCAL_DOMAIN}`)
      traefik.http.routers.yuce-site-local-insecure.entrypoints: web
      traefik.http.routers.yuce-site-local-insecure.service: yuce-site
      traefik.http.routers.yuce-site-local-insecure.middlewares: yuce-site-web-redirect
      traefik.http.routers.yuce-site-local.rule: Host(`yuce-site.${LOCAL_DOMAIN}`)
      traefik.http.routers.yuce-site-local.entrypoints: websecure
      traefik.http.routers.yuce-site-local.service: yuce-site
      traefik.http.routers.yuce-site-local.tls: true
      runtipi.managed: true
